<div class="modal modal-preview" id="inner_detail" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                新建用户组
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="groupName">分组名称</label>
                        <input type="text" class="form-control" id="groupName" placeholder="分组名称" ng-model="createGroup.name" >
                    </div>
                </form>
            </div>
            <div class="modal-footer" align="center">
                <button class="btn btn-warning" ng-click="createGroup.submit()">Submit</button>
                <button class="btn btn-warning" ng-click="createGroup.cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>