<div class="modal modal-preview" id="inner_detail" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        编辑产品
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="id">编号</label>
            <input type="number" class="form-control" id="id" placeholder="产品编号" ng-model="editProduct.id" readonly>
          </div>
          <div class="form-group">
            <label for="elementName">产品名称</label>
            <input type="text" class="form-control" id="elementName" placeholder="产品名称" ng-model="editProduct.name" >
          </div>
          <div class="form-group">
            <label for="content">产品描述</label>
            <textarea type="text" class = "form-control" id="content" name="content" ng-model="editProduct.describle"></textarea>
          </div>
          <div class="form-group">
            <label for="leader">负责人</label>
            <input type="text" class="form-control" id="leader" ng-model="editProduct.leader" >
            </div>
        </form>
      </div>
      <div class="modal-footer" align="center">
        <button class="btn btn-warning" ng-click="editProduct.submit()">Submit</button>
        <button class="btn btn-warning" ng-click="editProduct.cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
