<div id="formList_pyq">
    <div class="form-header">
        <div class="header-box">
            <div class="h-l">
                <input type="text" class="form-control" placeholder="输入搜索内容">
                <i class="fa fa-search"></i>
            </div>
            <div class="h-r">
                <div class="add-btn">
                    <i class="fa fa-plus"></i>
                    <span>新建</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-body">
        <div class="form-main">
            <div class="d-table">
                <table class="home-table">
                    <thead>
                        <tr>
                            <th ng-repeat="filed in form.tableTheadList">{{filed}}</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rows">
                            <td ng-repeat="col in cols">
                              <span ng-bind="col.name"></span>
                            </td>
                            <td>
                                <div>
                                    <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                                    <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                                </div>
                            </td>

                        </tr>
                        <tr>
                          <td ng-repeat="filed in form.tableTheadList">1</td>
                          <td>
                          <div>
                            <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                            <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td ng-repeat="filed in form.tableTheadList">1</td>
                          <td>
                          <div>
                            <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                            <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td ng-repeat="filed in form.tableTheadList">1</td>
                          <td>
                          <div>
                            <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                            <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td ng-repeat="filed in form.tableTheadList">1</td>
                          <td>
                          <div>
                            <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                            <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td ng-repeat="filed in form.tableTheadList">1</td>
                          <td>
                          <div>
                            <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                            <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td ng-repeat="filed in form.tableTheadList">1</td>
                          <td>
                          <div>
                            <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                            <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                          </div>
                          </td>
                        </tr>
                        <tr>
                          <td ng-repeat="filed in form.tableTheadList">1</td>
                          <td>
                          <div>
                            <i class="fa fa-trash" title="删除" ng-click="delete()"></i>
                            <i class="fa fa-edit" title="编辑" ng-click="edit()"></i>
                          </div>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-footer"></div>
</div>
